*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/
/app/src/main/java/com/example/greengym/
/app/src/androidTest/java/com/example/greengym/
/app/src/test/java/com/example/greengym/
/app/build/generated/source/buildConfig/debug/com/example/greengym/
/app/src/main/res/drawable/
/app/src/main/res/drawable-v24/
/app/src/main/res/layout/
/app/src/main/res/layout/activity_intro.xml
/app/src/main/res/layout/activity_main.xml
/app/src/main/res/layout/activity_method.xml
/app/src/main/res/layout/activity_method2.xml
/app/src/main/res/layout/activity_rate.xml
/app/src/main/res/layout/activity_rate__statistic.xml
/app/src/main/res/layout/activity_report.xml
/app/src/main/res/layout/activity_report__location.xml
/app/src/main/res/layout/activity_search.xml
/app/src/main/res/layout/activity_search__map.xml
/app/src/main/res/layout/activity_search_all.xml
/app/src/main/res/layout/activity_search_by_equip.xml
/app/src/main/res/layout/activity_search_down.xml
/app/src/main/res/layout/activity_search_stretch.xml
/app/src/main/res/layout/activity_search_up.xml
/app/src/main/res/mipmap-xhdpi/
/app/src/main/res/mipmap-anydpi-v26/
/app/src/main/res/mipmap-hdpi/
/app/src/main/res/mipmap-xxhdpi/
/app/src/main/res/mipmap-mdpi/
/app/src/main/res/mipmap-xxxhdpi/
/app/src/main/res/values/
/app/src/main/res/values-night/
/build.gradle
/app/build.gradle
/gradle/wrapper/gradle-wrapper.properties
/app/proguard-rules.pro
/gradle.properties
/settings.gradle
/local.properties
/app/src/androidTest/java/com/example/greengym/
